<%- include("partials/top"); -%>
  <body onload="hide_loading()">
    <!-- <div class="load_div"><img class="load" src="Magnify-3.3s-200px.svg" alt=""></div> -->
    <section class="mainBody">
    <section id="navigation"> 
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/"><span style="font-family: 'Ribeye Marrow', cursive;">D</span>ictionary.</a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item btn btn-dark col-lg-12 col-sm-4 mx-auto knowMoreButton">
                    <a class="nav-link" href="/know-more">Know more ></a>
                  </li>
              </ul>
            </div>
          </nav>
    </section>
    <section id="stickySearchBar">
      
        <div class="sticky-search-box mx-auto">
            <form method="post" action="/uploaded">
              <input method="post" name="input" action="/uploaded" class="sticky-input-box" type="text" id="word_input" autocomplete="off" 
                placeholder="Search" />
              <a class="sticky-button" onclick="callPopUp()" href="#" id="searchbtn">
                <i class="fas fa-search"></i>
              </a>
            </form>
            <script>
              var input = document.getElementById("word_input");
          
                input.addEventListener("keyup", function (event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                  // Cancel the default action, if needed
                  event.preventDefault();
                  // Trigger the button element with a click
                  document.getElementById("searchbtn").click();
                }
              });
              
                var elements = document.getElementsById("stickySearchBar");
                if (elements.length > 0) {
                // if(elements[0].style.top = "0"){
                elements[0].style.boxShadow = "0 2px 2px 0 rgba(0,0,0,0.2)";
              }
     
            </script>
          </div>
    </section>
    <section id="meaningSection">
        <!--sub division of top1 containing cards of meaning and table of algorithm-->
        <p class="word" id="displayword"><%= word %></p>
        <!--word-->
        <hr>
        <p>Execution time : <span id = "exectime"><%= t0 %>ms</span></p>
        <!--time-->
        <!--meaning-->
        <p class="meaning overflow" id = "meaning">
          <%= meaning %>
        </p>
    </section>
    <section id="timeSection" class="card">
        <table>
            <tr>
              <th>
                Algorithm
              </th>
              <th>
                Time taken
              </th>
            </tr>
            <tr>
              <td>
                <hr>
              </td>
              <td>
                <hr>
              </td>
            </tr>
            <tr>
              <td>
                Linear Search
              </td>
              <td id = "t1"><%= t1 %> ms</td>
            </tr>
            <tr>
              <td>
                Binary Search
              </td>
              <td id = "t2"><%= t2 %> ms</td>
            </tr>
            <tr>
              <td>
                Interpolation Search
              </td>
              <td id = "t3"><%= t3 %> ms</td>
            </tr>
            <tr>
              <td>Jump Search</td>
              <td id = "t4"><%= t4 %> ms</td>
            </tr>
          </table>
    </section>
    <section id="graphSection">
        <p class="graph-titles">Line chart</p>
        <canvas id="chartjs-1" class="chartjs" width="962" height="481" style="display: block; height: 385px; width: 770px;"></canvas>
        <hr class="graph-separator">
        <p class="graph-titles">Bar chart</p>
        <canvas id="chartjs-2" class="chartjs" width="962" height="481" style="display: block; height: 385px; width: 770px;"></canvas>
    </section>
<%- include("partials/developers"); -%>
<%- include("partials/popUp"); -%>
    <script src="file.js"></script>
<%- include("partials/bottom"); -%>
