<%- include("partials/top"); -%>
  <body onload="hide_loading()">
    <div class="load_div"><img class="load" src="Magnify-3.3s-200px.svg" alt=""></div>
    <section class="mainBody">
    <section id="navigation"> 
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/"><span style="font-family: 'Ribeye Marrow', cursive;">D</span>ictionary.</a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item btn btn-dark knowMoreButton">
                    <a class="nav-link" href="/know-more">Know more ></a>
                  </li>
              </ul>
            </div>
          </nav>
    </section>
    <section id="stickySearchBar">
      
        <div class="sticky-search-box mx-auto">
            <form method="post" action="/selectAlgorithm" id="wordSubmit">
              <input method="" name="input" action="" class="sticky-input-box" type="text" id="word_input" autocomplete="off" required
                placeholder="Search" />
              <button class="sticky-button" href="" id="searchbtn">
                <i class="fas fa-search"></i>
              </button>
            </form>
            <script>
              var input = document.getElementById("word_input");
          
                input.addEventListener("keyup", function (event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                  // Cancel the default action, if needed
                  event.preventDefault();
                  // Trigger the button element with a click
                  document.getElementById("searchbtn").click();
                }
              });
              
            </script>
          </div>
    </section>
    <section id="meaningSection">
        <!--sub division of top1 containing cards of meaning and table of algorithm-->
        <p class="word" id="displayword"><%= word %></p>
        <!--word-->
        <hr>
        <p>Execution time : <span id = "exectime"><%= t0 %>ms</span></p>
        <!--time-->
        <!--meaning-->
        <p class="meaning overflow" id = "meaning">
          <%= meaning %>
        </p>
    </section>
    <section id="timeSection" class="card">
        <table>
            <tr>
              <th>
                Algorithm
              </th>
              <th>
                Time taken
              </th>
            </tr>
            <tr>
              <td>
                <hr>
              </td>
              <td>
                <hr>
              </td>
            </tr>
            <tr>
              <td>
                Linear Search
              </td>
              <td id = "t1"><%= t1 %> ms</td>
            </tr>
            <tr>
              <td>
                Binary Search
              </td>
              <td id = "t2"><%= t2 %> ms</td>
            </tr>
            <tr>
              <td>
                Interpolation Search
              </td>
              <td id = "t3"><%= t3 %> ms</td>
            </tr>
            <tr>
              <td>Jump Search</td>
              <td id = "t4"><%= t4 %> ms</td>
            </tr>
          </table>
    </section>
    <section id="graphSection">
        <p class="graph-titles">Line chart</p>
        <canvas id="chartjs-1" class="chartjs mx-auto" width="962" height="481" style="display: block; width: 95%; height: auto; min-height: 150px;"></canvas>
        <hr class="graph-separator">
        <p class="graph-titles">Bar chart</p>
        <canvas id="chartjs-2" class="chartjs mx-auto" width="962" height="481" style="display: block; width: 95%; height: auto; min-height: 150px;"></canvas>
    </section>
     <script>
      var ctx = "chartjs-1";
      new Chart(ctx, {
      type: "line",
      data: {
      labels: ["Linear", "Binary", "Interpolation", "Jump"],
        datasets: [
          {
            label: "Time comparison",
          
            // data: [data[1] , data[3], data[4], data[5]],
            // data: [t1 , t2, t3, t4],
            data: [<%= t1 %>, <%= t2 %>, <%= t3 %>, <%= t4 %>],
            fill: false,
            backgroundColor: [
              "rgb(64, 81, 78, 0.1)",
              "rgb(64, 81, 78, 0.1)",
              "rgb(64, 81, 78, 0.1)",
              "rgb(64, 81, 78, 0.1)"
            ],
            borderColor: [
              "rgb(64, 81, 78)",
              "rgb(64, 81, 78)",
              "rgb(64, 81, 78)",
              "rgb(64, 81, 78)"
            ],
            borderWidth: 5,
          },
        ],
      },
      options: { scales: { yAxes: [{ ticks: { beginAtZero: true } }] } },
    });
    new Chart(document.getElementById("chartjs-2").getContext('2d'), {
      type: "bar",
      data: {
      labels: ["Linear", "Binary", "Interpolation", "Jump"],
        datasets: [
          {
            label: "Time comparison",
          
            // data: [data[1] , data[3], data[4], data[5]],
            // data: [t1 , t2, t3, t4],
            // data: [reqT1, reqT2, reqT3, reqT4],
            // data: [20, 40, 50, 60],
            data: [<%= t1 %>, <%= t2 %>, <%= t3 %>, <%= t4 %>],
            fill: false,  
            backgroundColor: [
              "rgb(64, 81, 78, 0.2)",
              "rgb(64, 81, 78, 0.2)",
              "rgb(64, 81, 78, 0.2)",
              "rgb(64, 81, 78, 0.2)"
            ],
            borderColor: [
              "rgb(64, 81, 78)",
              "rgb(64, 81, 78)",
              "rgb(64, 81, 78)",
              "rgb(64, 81, 78)"
            ],
            borderWidth: 1,            
          },
        ],
      },
      options: { scales: { yAxes: [{ ticks: { beginAtZero: true } }] } },
    });
    </script>
    
<%- include("partials/developers"); -%>
<%- include("partials/bottom"); -%>

